<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav late" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="lat">
      <a mat-list-item href="#"routerLink="/dashboard">Home</a>
      <a mat-list-item href="#"routerLink="/profile">Profile</a>
      <a mat-list-item href="#"routerLink="/ajouter">Ajouter Utilisateur</a>
      <a mat-list-item href="#"routerLink="/users">Gestion Utilisateur</a>
    </mat-nav-list>
    <mat-nav-list class="lat">
      <a mat-list-item href="#">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="boddy">
    <mat-toolbar class="mennu">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="container">
      <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
      <li><a  href="#" routerLink="/users">Gestion</a></li>
      <li><a href="#" routerLink="/presence">Presence</a></li>
      <li><a href="#" routerLink="/presence">Gerer la Presence</a></li>

    </ul>
  </nav>
</div>
</div>

    <p>Listes des utilisateurs</p>
  <!-- fffffffffffffffffffffffff -->
<!-- gggggggggggggggggggggggggggg -->

<div class="container fboddy">
  <div class="container">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Profile</th>
      <th scope="col">Choix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" >
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>{{item.profil}}</td>
      <td><input type="checkbox" name="select"></td>
      <td><button type="button" (click)="suprime(item.id)" class=" delete btn  col-sm-6 form-group">Supprimer</button></td>
      <td> <button type="button"  routerLink="/modifier/{{item.id}}" class="modifier btn  col-sm-6 form-group">Modifier</button></td>
    </tr>
  </tbody>
</table>
<!-- <div class="bton">
  <button type="button" (click)="suprime(item.id)" class=" delete btn  col-sm-6 form-group">Supprimer</button>
  <button type="button"  routerLink="/modifier/{{item.id}}" class="modifier btn  col-sm-6 form-group">Modifier</button>
  </div> -->
</div>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>
