
<!-- aezrdfghjklm -->
<div class="boddy">
<div class="bg">
<div class="bg-img">
  <div class="container">
<img src="../../assets/images/admina.png" alt="">
  <form>
    <label for="email"><b></b></label>
    <input type="text" class="form-control form-control mb-3" placeholder="Enter Email" name="email" required>

    <label for="psw"><b></b></label>
    <input type="password" class="form-control form-control mb-3" placeholder="Enter Password" name="psw" required>

    <button type="submit" routerLink="/dashboard" class="btn">Login</button>
  </form>
</div>
</div>
</div>
</div>


