<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
      <form>
          <div >
              <label>User Name</label>
              <input type="email" placeholder="User name">
          </div>
          <div >
              <label for="password">Password</label>
              <input type="password" placeholder="******************">
          </div>
          <div>
              <button routerLink="/dashboard">
                  Log In
              </button>

          </div>
      </form>
  </div>
</div>


