<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav late" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="lat">
      <a mat-list-item href="#"routerLink="/dashboard">Home</a>
      <a mat-list-item href="#"routerLink="/profile">Profile</a>
      <a mat-list-item href="#"routerLink="/ajouter">Add User</a>
      <a mat-list-item href="#"routerLink="/users">Users</a>
    </mat-nav-list>
    <mat-nav-list class="lat">
      <a mat-list-item href="#">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="boddy">
    <mat-toolbar class="mennu">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Profile</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <div class="col-lg-12 well">
      <div class="row fboddy">
            <form class="fbdy">
              <div class="col-sm-12 dboddy">
                <div class="col-sm-6 form-group">
                  <img class="mx-auto d-block" src="assets/images/admin.png" alt="A">
                  <h1>Utilisateur</h1>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <h3>Nom</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <h3>Prénom</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <h3>Statut</h3>
                  </div>
                </div>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                    <h3>Email</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                    <h3>Mobile</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                    <h3>Password</h3>
                      </div>
                    </div>
              </div>
              <div class="bton">
                <button type="button" class="modifier btn  col-sm-6 form-group">Changer le mot de passe</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
