<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav late" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="lat">
      <a mat-list-item href="#"routerLink="/dashboard">Home</a>
      <a mat-list-item href="#"routerLink="/profile">Profile</a>
      <a mat-list-item href="#"routerLink="/ajouter">Ajouter Utilisateur</a>
      <a mat-list-item href="#"routerLink="/users">Gestion Utilisateur</a>
    </mat-nav-list>
    <mat-nav-list class="lat">
      <a mat-list-item href="#">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="boddy">
    <mat-toolbar class="mennu">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->
    <h1>Dashboard</h1>

    <div id="global">
      <h1>Bienvenue !!!!</h1>
      <p>  {{ Aujor | date: ' EEEE d  MMMM y '| uppercase}}</p>
    <div id="gauche">
    <div class="cercle col-xs-2 col-xs-offset-1 col-sm_offset-1 col-sm-3">
      <br>
      <p></p>
      <h1>1O</h1>
      <br>
  </div>
  <br>
  <p>Nombre</p>
</div>
<div id="droite">
    <div class="cercle col-xs-2 col-xs-offset-1 col-sm_offset-1 col-sm-3">
      <br>
      <p></p>
      <h1>1</h1>
      <br>
  </div>
  <br>
  <p>Nombre</p>
</div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
