.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
// hhhhhhhhhhhhhhhhhhhhhhh
.late{
  background-color: #FF3C00;
}
.lat{
  margin-top: 50%;
  width: 180px;
}
.lat a{
  background-color: white;
  display: block;
  font-size: 20px;
  border-radius: 15px;
  margin:14px 5px;
  padding-left: 20%;
}
.lat a:hover{
  background-color: #FFD5C9;
  color: orangered;
}
//bndnnsdh
.dboddy{
  margin:10px
}
.boddy{
  background-color: #FFD5C9;
}
.fboddy{
  background: rgba(255, 255, 255, 0.3);
}
//label
label{
  font-size: 20px;
}
//input

//boutton
.bton{
  margin: auto 40%;
}
.bton button{
  background-color: #000000;
  border-radius: 10px;
  font-size: 20px;
  color: white;


}
