.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
// ggggggggggg
.late{
  background-color: #FF3C00;
}
.lat{
  margin-top: 50%;
  width: 180px;
}
.lat a{
  background-color: white;
  display: block;
  font-size: 20px;
  border-radius: 15px;
  margin:14px 5px;
  padding-left: 20%;
}
.lat a:hover{
  background-color: #FFD5C9;
  color: orangered;
}
//bndnnsdh
// .atata {
//   list-style-type: none;
//   margin: 10px 400px ;
//   width: 730px;
//   height: 100px;
//   padding: 0;
//   overflow: hidden;
//   background-color: rgb(255, 255, 255);
// }

li {
  float: left;
  border-right:1px solid #bbb;
  width: 200px;
  margin: 30px 20px;
  background-color: orangered;
  border-radius: 15px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
}

li a:hover {
  background-color: #FFD5C9;
  color: orangered;
}
p{
  font-size: large;
  text-align: center;
  margin-top: 100px;
}
// body
.boddy, .mennu{
  background-color: #FFD5C9;
}
.fboddy{
  background: rgba(255, 255, 255, 0.3);
}
