<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav late" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="lat">
      <a mat-list-item href="#"routerLink="/dashboard">Home</a>
      <a mat-list-item href="#"routerLink="/profile">Profile</a>
      <a mat-list-item href="#"routerLink="/ajouter">Add User</a>
      <a mat-list-item href="#"routerLink="/users">Users</a>
    </mat-nav-list>
    <mat-nav-list class="lat">
      <a mat-list-item href="#">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="boddy">
    <mat-toolbar class="mennu">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Modifier</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
      <li><a  href="#" routerLink="/users">Liste</a></li>
      <li><a href="#" routerLink="/presence">Presence</a></li>
      <li><a href="#" routerLink="/modifier">Modifier</a></li>
    </ul>
  </nav>
</div>
</div>
<p></p>
<!-- hhhhhhhhhhhhhhhhhhh -->
<div class="container fboddy">
  <div class="container">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Profile</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Camara</td>
      <td>Mady</td>
      <td>Apprenant</td>
    </tr>
    <tr >
      <td>Camara</td>
      <td>Mady</td>
      <td>Apprenant</td>
    </tr>
    <tr >
      <td>Camara</td>
      <td>Mady</td>
      <td>Apprenant</td>
    </tr>
    <tr >
      <td>Camara</td>
      <td>Mady</td>
      <td>Apprenant</td>
    </tr>
  </tbody>
</table>
</div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
