<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav late" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="lat">
      <a mat-list-item href="#"routerLink="/dashboard">Home</a>
      <a mat-list-item href="#"routerLink="/profile">Profile</a>
      <a mat-list-item href="#"routerLink="/ajouter">Ajouter Utilisateur</a>
      <a mat-list-item href="#"routerLink="/users">Gestion Utilisateur</a>
    </mat-nav-list>
    <mat-nav-list class="lat">
      <a mat-list-item href="#">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="boddy">
    <mat-toolbar class="mennu">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <div class="text-center">
        <img class="mx-auto d-block" src="assets/images/userm.png" alt="Up Users">
    </div>
    <div class="col-lg-12 well">
    <div class="row fboddy">
          <form class="fbdy" [formGroup]="ModifierUtilisateur" (ngSubmit)="modifier()" >
            <div class="col-sm-12 dboddy">
              <div class="row">
                  <div class="col-sm-6 form-group">
                    <label for="">Nom</label>
                    <input class="text" type="text"  class="form-control form-control mb-3" formControlName="nom" required="">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="">Prénom</label>
                    <input class="text" type="text"  class="form-control form-control mb-3" formControlName="prenom" required="">
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="">Age</label>
                      <input class="text" type="text" class="form-control form-control mb-3" formControlName="age" required="">
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="">Téléphone*</label>
                      <input class="text" type="text" class="form-control form-control mb-3" formControlName="telephone" required="">
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 form-group">
                        <label for="">Email</label>
                        <input class="text email" type="email" class="form-control form-control mb-3" formControlName="email" required="">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="">Login</label>
                        <input class="text" type="text" class="form-control form-control mb-3" formControlName="login" required="">
                      </div>
                      </div>
              <div class="row">
                  <div class="col-sm-6 form-group">
                    <label for="">Password</label>
                    <input class="text" type="password" class="form-control form-control mb-3" formControlName="password" required="">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="">Genre</label>
                  <select class="form-select"  formControlName="genre" id="sel1">
                    <option>Homme</option>
                    <option>Femme</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="">Statut </label>
                    <select class="form-select"  formControlName="status_utilisateur" id="sel1">
                     <option>activer</option>
                     <option>desactiver</option>
                    </select>
                    <br>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="sel1">Profile</label>
                  <select class="form-select"  formControlName="profil" id="sel1">
                    <option>apprenant</option>
                    <option>formateur</option>
                  </select>
                  <br>
                </div>
                </div>
            </div>
            <div class="form-group bton">
              <button type="submit" class="btn form-control form-control mb-3">Modifier</button>
              </div>
          </form>
          </div>
    </div>
    </div>
<!-- ID Column -->

  </mat-sidenav-content>
</mat-sidenav-container>
